extends layout

block content
  div(class="container-fluid")
    form(action='/group/sub',method='post')
      label(for='group') Pilih Group
         select(id="xxx", name="sub_group")
            -for(var i = 0;i<groups.length;i++){
              if groups[i]['id'] != group.id
                option(value="#{groups[i]['id']}") #{groups[i]['nama']}
            -}
              input(id='sapaan',type='hidden',value='#{group.id}',name='groups')
        button(type='submit', class="btn btn-primary") Submit
    br
    br
    h5(style="color:rgba(100,100,100,0.8)") unsubscribe dari grup #{group.nama} 
    if setting_groups
      table(class="table table-striped table-light table-bordered")
        thead
          tr
            th(scope="col") Nama
            th(scope="col") Deskripsi
            th(scope="col") Aksi
        tbody
          each set_g in setting_groups
            tr
              td #{set_g.nama}
              td #{set_g.deskripsi}
              td  
                a(class="btn btn-primary" href="/setting/group/delete/#{set_g.s_g_id}/#{set_g.grup_id}") Hapus
        