extends layout

block content
  div
    h1 #{group.nama}
    form(action='/group/sub',method='post')
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
          label(for='group') Pilih Group
             select(id="xxx", name="sub_group")
                -for(var i = 0;i<groups.length;i++){
                  option(value="#{groups[i]['id']}") #{groups[i]['nama']}
                -}
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup')
             input(id='sapaan',type='hidden',value='#{group.id}',name='groups')

      div(data-role='fieldcontain')   
        input(type='submit',value='Submit',data-transition='fade', data-theme='c')
    br
    br
    h1 auto keluar dari grup
    if setting_groups
      h1 
      each set_g in setting_groups
        h1 #{set_g.nama}
        a(href="/setting/group/delete/#{set_g.s_g_id}/#{set_g.grup_id}") Hapus
        